.code-part {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden !important;

    .menu {
        border-top: #1e1e1e 1px solid;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background-color: #3c3c3c !important;
        padding: 8px 0;
    }

    app-monaco-editor {
        height: 100%;
    }
}

::ng-deep .as-split-gutter {
    background-color: #3c3c3c !important;
}

mat-button-group {
    color: #111112;
    margin: 8px;

}

mat-button-toggle {
    background-color: #1e1e1e;
}

::ng-deep mat-button-toggle .mat-button-toggle-label-content {
    // padding: 0 6px !important;
    // line-height: 33px !important;
    color: #f1f1f1;
}

::ng-deep .mat-tab-label-content {
    color: #fff;
}


mat-tab-group {
    margin: 0 8px;
    height: 100%;
}

::ng-deep mat-ink-bar {
    background-color: #fff !important;
}

as-split-area {
    position: relative;
}

.error {
    background-color: #aaaaa2AA;
    position: absolute;
}

::ng-deep .mat-tab-body-wrapper{
    height: 100%;
}